@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
/***********
    VARS
***********/
/*************
    STYLES
*************/
* {
  box-sizing: border-box; }
  *:focus, *:active {
    box-shadow: none;
    outline: 0; }

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  padding: 1rem;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #202124;
  flex-direction: column; }

hr {
  padding: 0;
  border: 1px solid #606368;
  border-radius: 0; }

h2 {
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 4px;
  margin: 0; }

#body {
  visibility: hidden; }

#text, #type {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  text-align: center; }

.loader-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .loader-wrapper > .loader {
    display: block;
    width: 70px;
    height: 70px;
    border-right: 5px solid #69f0ae;
    border-left: 5px solid #69f0ae;
    border-top: 5px solid #3C4042;
    border-bottom: 5px solid #3C4042;
    border-radius: 100vh;
    animation-name: loading;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear; }

.menu {
  max-width: fit-content; }

.menuitem {
  width: 70px;
  height: 70px;
  margin: 10px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); }
  .menuitem > span {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 3px;
    background-color: #000000;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    font-size: 15px; }
  .menuitem > p {
    color: #ffffff;
    display: block;
    margin: 10px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.menuitem, #reward {
  background-size: cover; }
  .menuitem.epic, #reward.epic {
    border: 3px solid #FFDC73;
    box-shadow: 0px 0px 30px rgba(255, 220, 115, 0.5); }
  .menuitem.rare, #reward.rare {
    border: 3px solid #0096D1; }
  .menuitem.uncommon, #reward.uncommon {
    border: 3px solid #C724B1; }
  .menuitem.common, #reward.common {
    border: 3px solid gray; }

#reward {
  width: 300px;
  height: 300px;
  border-radius: 4px; }
  #reward > img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%; }

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all .3s ease;
  opacity: 0; }

.container {
  background-color: #3C4042;
  padding: 2rem 5rem;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin: 2rem 0; }

.opener {
  display: block;
  width: 700px;
  height: 150px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  background-color: #202124;
  border-radius: 4px;
  position: relative;
  padding: 10px;
  overflow: hidden;
  border-style: solid;
  border-width: 0 10px;
  border-color: #202124; }

.line {
  position: absolute;
  display: block;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
  height: 100%;
  width: 2px;
  left: 339px;
  box-shadow: -2px 0px 5px rgba(255, 255, 255, 0.7); }

.items {
  display: block;
  width: -webkit-fill-available;
  height: 100%;
  transform: translate3d(-72px, 0px, 0px);
  border-radius: 4px;
  float: center; }

.item {
  display: inline-block;
  background-size: cover;
  background-color: #000000;
  height: 130px;
  width: 130px;
  margin: 0 2px;
  color: #999999;
  font-weight: 700;
  padding: 20px;
  text-align: center;
  border: 1px solid #ffffff;
  background-size: cover; }
  .item.epic {
    border: 2px solid #FFDC73;
    box-shadow: 0px 0px 30px rgba(255, 220, 115, 0.5); }
  .item.rare {
    border: 2px solid #0096D1; }
  .item.uncommon {
    border: 2px solid #C724B1; }
  .item.common {
    border: 2px solid gray; }

.btn {
  margin: 0 auto 1rem auto;
  display: block;
  border-radius: 100vh;
  background-color: transparent;
  border: none;
  width: 42px;
  height: 42px;
  transition: all .3s ease;
  color: #ffffff;
  font-size: 15px; }
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer; }
  .btn > .volume {
    display: block;
    margin: auto; }

.btn-raised {
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  background: linear-gradient(270deg, #004d40, #69f0ae);
  color: #ffffff;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 300px;
  line-height: 42px;
  transition: all .3s ease;
  background-size: 400%;
  background-position: 50% 50%; }
  .btn-raised:active, .btn-raised:hover {
    background-position: 100% 50%;
    cursor: pointer; }

.btn-general {
  display: block;
  margin: 0 auto;
  background-color: #004d40;
  color: #ffffff;
  border: none;
  padding: .5rem 1rem;
  width: 100%;
  transition: all .2s ease; }
  .btn-general:hover, .btn-generalfocus {
    cursor: pointer;
    background-color: #00342b; }

button:disabled, button[disabled] {
  background-position: 50% 50% !important;
  filter: grayscale(100%);
  cursor: not-allowed !important; }

[data-animation] {
  position: relative;
  overflow: hidden; }

.ripple {
  width: 2px;
  height: 2px;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  animation: rippleEffect 0.5s ease-in-out; }

.volume {
  color: #ffffff;
  font-size: 15px;
  transition: all .5s ease; }
  .volume.mute {
    color: #f44336; }

.json-wrapper {
  height: fit-content;
  width: calc(700px + 10rem); }

.json {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: pre-wrap;
  background-color: #000000;
  padding: 1rem;
  color: #69f0ae;
  margin: 0; }

@keyframes rippleEffect {
  0% {
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(var(--scale)); } }

@keyframes loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
